
.cabecalhoPrincipal .container{ /* alinho no elemento pai para refletir nos filhos*/
	display: flex;
	align-items: center; /*Alinhar os elementos que estão dentro desse container flex, no centro*/
	justify-content: space-between; /*coloca espaço entre os elementos filhos*/
}
.cabecalhoPrincipal-nav{
	display: flex;
}

.rodapePrincipal-patrocinadores .container{
	display: flex;
	justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin-right: 5%;
}
.rodapePrincipal-contatoForm{
	width: 25%;
}
.rodapePrincipal-contatoForm-fieldset{
	display: flex;
}

.rodapePrincipal-navMap-list{
	display: flex;
	/*flex-direction: column;
	flex-wrap: wrap;*/
	flex-flow: column wrap;
	height: 250px;
}